<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping cart</title>
    <link rel="stylesheet" href="../public/css/home.css">

    <style>
        *{
            margin: 0;
            padding:0;
            font-family: Arial, Helvetica, sans-serif;
        }
        .mainer{
            width: 100%;
            height: auto;
        }
        nav > ul{
            display: flex;
            margin-bottom:.4em;
            padding:1em 2em;
            background: rgb(40, 122, 230);
            color:#fff;
            box-shadow: 1px 4px 33px rgba(0,0,0,.4);
        }
        nav > ul>li{
            list-style: none;
            margin-left:.5em; 
            margin-left: auto;
            margin-top:auto;
            margin-bottom:auto;
        }
        nav >ul>li>a{
            text-decoration:none;
            color:#fff;
        }
        .contaier{
            margin-top: 3em;
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
            grid-template-areas: 'card1' 'card1' 'card3';
            grid-gap:1.5em;
            padding:2em 5em;
        }
        .contaier > .cards{
            display: flex;
            flex-direction: column;

        }
        .contaier > .cards>img{

        } 
        .contaier > .cards> * {
            margin-top:.5em;
        }
        .contaier > .cards> .description>* {
            margin-top:.5em;
        }
        .contaier > .cards>button{
            width: 100px;
            padding:.8em .5em;
            cursor:pointer;
            border:none;
            border-radius: .5em;
            background: rgba(66, 194, 62, 0.933);
            color:#fff;
            margin-top:.7em
        }
    </style>
</head>
<body>

    <div class="mainer">
       <nav>
        <ul>
            <li><a href="#">Shopping cart</a></li>
            <li><a href="#">User management</a></li>
        </ul>
    </nav>

    <div class="contaier">
        <div class="cards">
            <img src="../resources/img/CLOTHES/clothes-10.jpg" alt="">
            <div class="description">
                <h4>Title here</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate omnis deleniti ad error perspiciatis amet nam cupiditate asperiores, aliquam expedita! Labore porro, ducimus consequatur rerum aliquam eligendi alias sed eius.</p>
            
            </div>
            <button>Add to cart</button>
        </div>

        <div class="cards">
            <img src="../resources/img/CLOTHES/clothes-1.jpg" alt="">
            <div class="description">
                <h4>Title here</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate omnis deleniti ad error perspiciatis amet nam cupiditate asperiores, aliquam expedita! Labore porro, ducimus consequatur rerum aliquam eligendi alias sed eius.</p>
            
            </div>
            <button>Add to cart</button>
        </div>

        <div class="cards">
            <img src="../resources/img/CLOTHES/clothes-12.jpg" alt="">
            <div class="description">
                <h4>Title here</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate omnis deleniti ad error perspiciatis amet nam cupiditate asperiores, aliquam expedita! Labore porro, ducimus consequatur rerum aliquam eligendi alias sed eius.</p>
            
            </div>
            <button>Add to cart</button>
        </div>


        <div class="cards">
            <img src="../resources/img/CLOTHES/clothes-17.jpg" alt="">
            <div class="description">
                <h4>Title here</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate omnis deleniti ad error perspiciatis amet nam cupiditate asperiores, aliquam expedita! Labore porro, ducimus consequatur rerum aliquam eligendi alias sed eius.</p>
            
            </div>
            <button>Add to cart</button>
        </div>

        <div class="cards">
            <img src="../resources/img/CLOTHES/clothes-16.jpg" alt="">
            <div class="description">
                <h4>Title here</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate omnis deleniti ad error perspiciatis amet nam cupiditate asperiores, aliquam expedita! Labore porro, ducimus consequatur rerum aliquam eligendi alias sed eius.</p>
            
            </div>
            <button>Add to cart</button>
        </div>

        <div class="cards">
            <img src="../resources/img/CLOTHES/clothes-20.jpg" alt="">
            <div class="description">
                <h4>Title here</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate omnis deleniti ad error perspiciatis amet nam cupiditate asperiores, aliquam expedita! Labore porro, ducimus consequatur rerum aliquam eligendi alias sed eius.</p>
            
            </div>
            <button>Add to cart</button>
        </div>
    </div>  
    </div>
    
   
</body>
</html>